@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    PizzariaSys<br />
    Av. Dionisio Leonel Alencar<br />
    <abbr title="Fone">Telefone</abbr>
    +55 85 98862-9450
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:support@pizzariasys.com">support@pizzariasys.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@pizzaria.com">marketing@pizzaria.com</a>
</address>