<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="strConexao"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NewPizzariaSys;Persist Security Info=True;User ID=sa;Password=?"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
